/*
 * Custom styling, this file should be compiled from stylus to css:
 * http://stylus-lang.com/
*/
:root
  //colors
  --c-def-primary #3f241b
  --c-def-secondary #663c25
  --c-def-tertiari #f0c4ac
  --c-def-quarternary #4d2d1c
  //filters
  --f-darker-button brightness(75%)
  --f-darkest-button brightness(60%)

body
  background var(--c-def-primary)
  color var(--c-def-tertiari)

button, .next
  background var(--c-def-secondary)
  color goldenrod
  border-radius 5px
  padding 3px 8px
  border 3px double goldenrod

button
  &:hover, &:focus, &:active
    color gold
  &:hover, &:focus
    filter var(--f-darker-button)
  &:active
    filter var(--f-darkest-button)

.choice
  label
    display flex
    background var(--c-def-secondary)
    &:hover
      background var(--c-def-quarternary)!important
    input
      flex auto 0 0
      border-radius 34%
      margin .5em
      margin-right .6em
      -moz-appearance none
      -webkit-appearance none
      appearance none
      width 1em
      height 1em
      background #30ad23
      border 2px groove gold
      //clip-path polygon(50% 100%, 0% 50%, 50% 0%, 100% 50%)
      transform rotate(45deg)
      &:checked
        box-shadow 0 0 0 .3em var(--c-def-quarternary), 0 0 0 .4em goldenrod
        background lightgreen
      &:hover, &:focus, &:active
        background linear-gradient(to right, lightgreen 50%, transparent 50%), linear-gradient(lightgreen 50%, #30ad23 50%)
